<button class="btn" type="button" id="backBtn"  routerLink="/Home" routerLinkActive="the-chosen-one"><i class="fa fa-arrow-circle-left" style="font-size:15px"></i> Back</button><br><br>

<div id="forgotpasswordform">
  <h1 style="color: #f90; font-size:350%;">Change Password </h1><br>
  <form #changePasswordForm="ngForm" action="/action_page.php"  style="max-width:500px;margin:auto" id="forgotPasswordForm">
    <p style="font-size: larger;">Please Enter your E-mail and your NEW password in order to change it .</p><br>
    <div class="form-group">
    <label for="userName" style="font-size: xx-large;">E-mail</label><br>
    <input #userNameInput="ngModel" class="form-control" type="text" id="userName" name="firstname" required placeholder="User Name.."  [(ngModel)]="userForgotPasswordDetails.userName">
    <span *ngIf="userNameInput.errors?.required && userNameInput.touched">Missing - username</span><br>
  </div>

  <div class="form-group">
    <label for="password" style="font-size: xx-large;">Password</label><br>
    <input #passwordInput="ngModel" class="form-control" type="password" id="password" name="lastname" required placeholder="Password.."  [(ngModel)]="userForgotPasswordDetails.password">
    <span *ngIf="passwordInput.errors?.required && passwordInput.touched">Missing - password</span><br>
  </div>
    <button type="button" class="btn" [disabled]="changePasswordForm.form.invalid" (click)="changePassword()" value="changePassword" style="font-size:15px">Change password</button>
  </form>
</div>
