#forgotPasswordForm{
    margin-top: 4%;
  
}
#forgotpasswordiv{
    display:initial;
}

/* input[type=text], select {
    width: 100%;
    background-color:white ;
    padding:10px 10px 10px 5px;
    display:block;
    outline: none;
    border:none;
    border-bottom:1px solid #757575;
    margin-bottom: 3%;
}
input[type=password], select {
    width: 100%;
    background-color:white ;
    padding:10px 10px 10px 5px;
    display:block;
    outline: none;
    border:none;
    border-bottom:1px solid #757575;
    margin-bottom: 3%;
}
input[type=text]:focus{
    border-bottom:1px solid #f90;
    color: #232f3e;   
}
input[type=password]:focus{
    border-bottom:1px solid #f90;
    color: #232f3e;   
} */
  
button {
    width: 55%;
    background-color: rgba(40, 108, 168, 0.856);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#backBtn{
    width: 10%;
    float: left;
    background-color: rgba(255, 153, 0, 0.74);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#backBtn:hover{
  background-color: #f90;

}
#signUpHeader{
    text-align: center;

}
  
button:hover {
    background-color: #286DA8;
    color: #f90;
}
  
div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
span{
    color: red;
}