 
body {
  background-image:url('../../../assets/Theme2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}

#loginHeader{
  grid-row: 9;
  
}


.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  /* margin-bottom: 15px; */
}

.icon {
  padding: 10px;
  /* background:  #232f3e; */
  color:  #232f3e;
  border-radius: 30px;
  min-width: 50px;
  text-align: center;
}


/* .input-field {
  width: 100%;
  background-color:white ;
  padding:10px 10px 10px 5px;
  display:block;
  outline: none;
  border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 3%;
} */
/* font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:300px;
border:none;
border-bottom:1px solid #757575; */

/* .input-field:focus {
  border-bottom:1px solid #f90;
  color: #232f3e;
  
} */


/* .btn {
  margin-top: 2%;
  background-color: #f90;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  box-shadow: grey 5px 5px;
} */

/* .btn:hover {
  opacity: 1;
  color: white;
  box-shadow: grey 5px 5px;
} */

/* #RegisterBtn{
  margin-top: 2%;
  font-size:15px;
  background-color:rgba(40, 108, 168, 0.856);
}
#RegisterBtn:hover{
  background-color: #3681d6;
  color: white;
} */

#notRegisterPassword{
  display: inline;
}
#forgotpassword{
  display: inline;
  margin-left: 2% ;
  cursor: pointer;
  color: #f90;
}
.validationErr{
  color:red;
}

#logo{   
  margin-top: 50px;
  width: 65%;
  height: 100%;
}