<div class="jumbotron" style="background-color: white;">
    <span class="glyphicon glyphicon-ok-circle" style="color: lightgreen;font-size: 15rem;" aria-hidden="true"></span>
    <h1>Your Order has been recieved</h1>
    <h2>Thank you for buying from us !</h2>
    <p>Your Order ID : #12356498749</p><br><br>
    <button type="button"  class="btn btn-warning btn-lg"  >Download Receipt <span class="glyphicon glyphicon-save" aria-hidden="true"></span></button><br><br>
    <p><a class="btn btn-primary btn-lg" routerLink="/Products" role="button"><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span> Back to Store</a></p>
</div>

(click)="expFile()"
