<!-- <div class="sidebar">
    <a routerLink="/Home" routerLinkActive="the-chosen-one"><i class="fa fa-fw fa-home" style="font-size:26px"></i>  Home</a>
    <a routerLink="/Friends" routerLinkActive="the-chosen-one"><i class="fa fa-fw fa-users" style="font-size:26px"></i>   Friends</a>
    <a routerLink="/Products" routerLinkActive="the-chosen-one"> <i class="fa fa-cubes" style="font-size:26px"></i>  Products</a>
    <a routerLink="/About" routerLinkActive="the-chosen-one"><i class="fa fa-fw fa-user" style="font-size:26px"></i>   About</a>
    <a routerLink="/Admin" routerLinkActive="the-chosen-one"  *ngIf="userService.userType == 'ADMIN'"><i class="fa fa-user-secret" style="font-size:26px"></i>    Admin <i class="fa fa-cogs" id="settingsICON" style="font-size:24px"></i></a>
</div>

*ngIf="userService.userType" -->