<!-- <div style="display: inline-block;" *ngIf="isShowEditViewPanerl()" id="productsEditPanel" class="sidenav">
   

</div> -->




<div id="mySidenav" class="sidenav">

    <button style="bottom:0" style="float: right; margin-right: 1.5%;" class="btn btn-danger" (click)="closeNav()">&times;</button><br>
    <h2>Product name shows on click</h2>
    <form>
        <img src="{{displayedProduct.img}}" style="height: 180px;width: 180px;" >
        <div class="form-group">
            <label for="ProductPicture">Product Picture</label>
            <input type="text" class="form-control" id="ProductPicture"   [value]="displayedProduct.img" [(ngModel)]="updateProductModel.img" aria-describedby="emailHelp" placeholder="Product Picture">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        <div class="form-group">
          <label for="ProductName">Product Name</label>
          <input type="text" class="form-control" id="ProductName" aria-describedby="emailHelp"   [value]="displayedProduct.ProductName" [(ngModel)]="updateProductModel.ProductName" placeholder="ProductName">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="ProductID">Product ID</label>
            <input type="number" class="form-control" id="ProductID"  [value]="displayedProduct.ProductID" [(ngModel)]="updateProductModel.ProductID" placeholder="ProductID">
          </div>
        <div class="form-group">
            <label for="ProductPrice">Product Price ₪</label>
            <input type="number" class="form-control" id="ProductPrice" [value]="displayedProduct.Price"  [(ngModel)]="updateProductModel.Price" aria-describedby="emailHelp" placeholder="ProductPrice">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
          <div class="form-group">
            <label for="ProductCategory">Product Category</label>
            <input type="number" class="form-control" id="ProductCategory"   [value]="displayedProduct.CategoryID"  [(ngModel)]="updateProductModel.CategoryID" aria-describedby="emailHelp" placeholder="Product Category">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        <button type="submit" class="btn btn-warning" style="font-size: x-large;" (click)="updateProduct()">Update <i class="fa fa-save"></i></button>
      </form>
</div>
<div style="display:block;" >
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
    <span style="font-size:30px;cursor:pointer" (click)="closeNav()">&#9776; close</span>
</div>
<div id="main" *ngIf="isShowAllProduct">
   
    <div class="card col-xs-10 col-sm-5 col-md-5 col-lg-2" *ngFor="let currentProduct of products">
        <div class="card-body" data-toggle="modal" data-target="#myModal">
            <img class="card-img-top" src="{{currentProduct.img}}" alt="Card image cap">
            <h3 data-toggle="modal" data-target="#myModal">{{currentProduct.ProductName}}</h3>
            <p class="category">Category: {{currentProduct.CategoryID}}</p>
            <p class="price">{{ currentProduct.Price }}₪</p>
            <p>Some text about the jeans.jeansum.</p>
        </div>

        <p><button style="bottom:0" (click)="openNav(currentProduct)">Edit <i class="fa fa-pencil"></i> </button></p>
    </div>
</div>


<!-- (click)=[(purchaseProduct(currentProduct))] was click to quick purchace  -->
<!-- (click)=[(showProduct(currentProduct))] was click on product to show the modal -->