  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About Me</h6>
          <p class="text-justify"><i>Hi im <b>Ido Heffer</b>, Junior Full Stack Web Developer with a lot of motivation and will to become a great developer.<br> Looking for my first Job to prove my skills and creativity.<br>If you like what you see, you are more then welcome to send my a message Idohe9@gmail.com </i></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Skills</h6>
          <ul class="footer-links">
            <li><a href="#">Angular</a></li>
            <li><a href="#">Node.JS</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Html</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </div>

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div> -->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#"><b>Ido_Heffer</b></a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/ido.heffer/"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
            <li><a class="dribbble" href="https://github.com/IdoHeffer"><i class="fa fa-github"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/ido-heffer/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>