<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="padding-bottom:1.5%;" id="Brand" class="navbar-brand" href="#"><i class="fa fa-shopping-bag"
          style="font-size:24px;color:#f90"></i>CoronaShoppingOnline</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/Home">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown" *ngIf="isShowProductsRoute()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/Products">All Products</a></li>
            <li><a routerLink="/Products/Bakery">Bakery</a></li>
            <li><a routerLink="/Products/Dairy">Dairy</a></li>
            <li><a routerLink="/Products/Fruits">Fruits</a></li>
            <!-- <li role="separator" class="divider"></li> -->
            <li><a routerLink="/Products/Meat">Meat</a></li>
            <li><a routerLink="/Products/Vegitables">Vegitables</a></li>
            <li><a routerLink="/Products/Wines & Beers">Wines & Beers</a></li>
          </ul>
        </li>
        <li *ngIf="isUserAdmin"><a routerLink="/Admin"><i class="fa fa-user-secret"
          style="font-size:18px"></i> Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown"  *ngIf="isUserLoggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Hello {{userService.userName}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/CheckOut">My Cart</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Billing</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="signOut()">Sign-out <i class="fa fa-sign-out"></i></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>