p{
    background-color: greenyellow;
}
#adminCreateUserDiv{
    background-color: white;
  align-items: center;
    
}


input[type=text], select {
    width: 30%;
    margin-left: 35%;
    
}
.form-group{
    background-color: whitesmoke;
}

input[type=password], select {
    width: 30%;
    margin-left: 35%;
}
input[type=password]:focus{
   
    color: #232f3e; 
}
input[type=text]:focus{
   
    color: #232f3e;
}
  
  
.btn {
    margin-top: 2%;
    background-color: #f90;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 45%;
    opacity: 0.9;
    box-shadow: grey 5px 5px;
}
  
button :hover {
    background-color: #45a049;
}
  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}