p{
    background-color: greenyellow;
}
#adminCreateUserDiv{
    background-color: white;
  align-items: center;
    
}
#leftForm{
    display:grid;
    float: left;
    width: 50%;
}
#rightForm{
    display:grid;
    float: right;
    width: 50%;
}


input[type=text], select {
    width: 50%;
    margin-left: 25%;
    
}
.form-group{
    background-color: white;
}

input[type=password], select {
    width: 50%;
    margin-left: 25%;
}
input[type=password]:focus{
   
    color: #232f3e; 
}
input[type=text]:focus{
   
    color: #232f3e;
}
  
  
.btn {
    margin-top: 4%;
    background-color: #f90;
    color: white;
    /* padding: 15px 20px;
    border: none;
    border-radius: 30px; */
    cursor: pointer;
    /* width: 45%; */
    opacity: 0.9;
    /* box-shadow: grey 5px 5px; */
}
  
button :hover {
    background-color: #45a049;
}
  
div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}