<section>
        <header>
                <div id="adminHeaderDivPanel">
                        <!-- <h1>Admin Panel</h1> -->
                        <nav>
                                
                                <ul>
                                        <li id="first"><a routerLink="insert" routerLinkActive="the-chosen-one"
                                                        style="font-size:15px" class="fa">Create
                                                        User <i class="fa fa-user-plus" style="font-size:15px"></i></a>
                                        </li>
                                        <li><a routerLink="update" routerLinkActive="the-chosen-one"
                                                        style="font-size:15px" class="fa">Update User Info
                                                        <i class="fa fa-address-card-o" style="font-size:15px"></i></a>
                                        </li>
                                        <li><a routerLink="delete" routerLinkActive="the-chosen-one"
                                                        style="font-size:15px" class="fa">Delete User <i
                                                                class="fa fa-user-times" style="font-size:15px"></i></a>
                                        </li>
                                        <li><a routerLink="productsAdmin" routerLinkActive="the-chosen-one"
                                                        style="font-size:15px" class="fa">Update Products<i
                                                                class="fa fa-user-times" style="font-size:15px"></i></a>
                                        </li>
                                        <li><a routerLink="productsAdmin" routerLinkActive="the-chosen-one"
                                                style="font-size:15px" class="fa">Add Product<i
                                                        class="fa fa-user-times" style="font-size:15px"></i></a>
                                </li>

                                </ul>
                        </nav>
                </div>
        </header>
        <main id="mainRouter">
                <router-outlet></router-outlet>
        </main>
</section>