<!-- 
Search By Name:<input type="text" [(ngModel)]="byName" style="height:30px; width:250px; border-radius: 6px; margin-top: 20px;">

<table class="table table-old" *ngIf="isShowAllfriends">
    <thead class="bg-primary white-text">
        
        <tr>
            
            <th scope="col">Name</th>
            <th scope="col">IsOnline?</th>
        </tr>
    </thead>

    <tbody class="bg-success text-dark">
        <tr *ngFor="let currentFriend of friends|ByNamePipe :byName" (click)=[(showfriend(currentFriend))] data-toggle="modal" data-target="#myModal" >
            <td>{{ currentFriend.user_name }}</td>
            <td>{{ currentFriend.isOnline }}</td>
        </tr>
    </tbody>
</table>

<div class="container">             
        
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
           
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)=[(showfriends())]>&times;</button>
                <h2 class="modal-title">{{displayedFriend.user_name}}</h2>
              </div>
              <div class="modal-body">
                  <p>fsdgsfgffsdds<br>                             
                  </p>
              </div>
              <div class="modal-footer">
                  <div style = "text-align: left;">
                  <h1>A teaser : </h1><br>
                  <p>               
                      Pay attention that we've registered in the html, a "purchase()" callback function to the onClick event.
                      The function doesn't exist (a thing which we can see in the Chrome console, as an error message after 
                      clicking the button), but when after we start wokring with Javascript, it could be implemented.
                  </p>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Send Massege</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div> -->
